html,
body {
    max-width: 100vw;
    max-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--vscode-font-family);
    color: var(--vscode-foreground);
}

.app-knowledge-hub {
    display: flex;
    flex-flow: row;

    &-wrapper {
        min-width: 400px;
        width: auto;
        overflow: hidden;
        transition: all 300ms ease-in-out;
        box-sizing: border-box;
        display: flex;
        flex: 1 1 auto;
        flex-flow: column;
        flex-grow: 1;
        height: 100vh;
        position: relative;
    }
}
