.tutorials {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
    flex-grow: 1;

    &-filters {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        box-sizing: border-box;
        width: 100%;

        &-wrapper {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-wrap: wrap;
            max-width: 1600px;
        }
    }
    &-header {
        padding: 20px 20px 10px 20px;
        margin: 0;

        &-title {
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        box-sizing: border-box;
        height: 100%;
        min-height: 250px;
        padding: 30px 20px;
        position: relative;
        scroll-behavior: smooth;
        overflow: auto;

        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            max-width: 1600px;
        }
    }
    &-loading {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        align-items: center;
    }
    &-pagination {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        background-color: var(--vscode-editor-background);
        border-top: 1px solid var(--vscode-dropdown-border);
        box-sizing: border-box;
        flex-direction: row;
        justify-content: flex-start;
        padding: 20px;
        margin-top: auto;
    }
}

@media screen and (max-width: 1650px) {
    .tutorials {
        &-filters {
            &-wrapper {
                max-width: 1200px;
            }
        }
    }
}

@media screen and (max-width: 1249px) {
    .tutorials {
        &-filters {
            &-wrapper {
                max-width: 800px;
            }
        }
    }
}
