.tutorials {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: scroll;
    flex-grow: 1;

    &-header {
        padding: 0 20px;
        margin-bottom: 20px;
        background-color: var(--vscode-editorGroupHeader-tabsBackground);

        &-title {
            width: 100%;
            color: var(--vscode-editor-foreground);
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            margin-top: 20px;
            margin-bottom: 5px;
            padding: 0;
        }
        &-description {
            width: 100%;
            color: var(--vscode-editor-foreground);
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            margin-top: 0;
            margin-bottom: 20px;
            padding: 0;
        }
    }
    &-content {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        height: 100%;
        padding: 0 20px;
        position: relative;
        scroll-behavior: smooth;
        overflow: auto;
    }
    &-loading {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        align-items: center;
    }
    &-pagination {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        background-color: var(--vscode-editor-background);
        border-top: 1px solid var(--vscode-dropdown-border);
        box-sizing: border-box;
        flex-direction: row;
        justify-content: flex-start;
        padding: 20px;
        margin-top: auto;
    }
}
