.tutorials {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
    flex-grow: 1;
    position: relative;

    &-filters {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        box-sizing: border-box;

        &-wrapper {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-wrap: wrap;
            max-width: 1600px;
        }
    }
    &-header {
        padding: 0 20px;
        margin-bottom: 20px;
        background-color: var(--vscode-editorGroupHeader-tabsBackground);

        &-title {
            width: 100%;
            color: var(--vscode-editor-foreground);
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            margin-top: 20px;
            margin-bottom: 5px;
            padding: 0;
        }
        &-description {
            width: 100%;
            color: var(--vscode-editor-foreground);
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            margin-top: 0;
            margin-bottom: 20px;
            padding: 0;
        }
    }
    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        box-sizing: border-box;
        height: 100%;
        min-height: 250px;
        padding: 0 20px;
        position: relative;
        scroll-behavior: smooth;
        overflow: auto;

        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            max-width: 1600px;
        }
    }
    &-loading {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        align-items: center;
    }
    &-pagination {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        background-color: var(--vscode-editor-background);
        border-top: 1px solid var(--vscode-dropdown-border);
        box-sizing: border-box;
        flex-direction: row;
        justify-content: flex-start;
        padding: 20px;
        margin-top: auto;
    }
}

@media screen and (max-width: 1650px) {
    .tutorials {
        &-filters {
            &-wrapper {
                max-width: 1200px;
            }
        }
    }
}

@media screen and (max-width: 1249px) {
    .tutorials {
        &-filters {
            &-wrapper {
                max-width: 800px;
            }
        }
    }
}
