.tutorials-filters-menu-entries {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-right: 20px;
    position: relative;

    &__normal {
        width: 35%;
    }
    &__small {
        width: 15%;
    }

    &:last-of-type {
        padding-right: 0;
        margin-right: 0;
        border-right: none;
    }

    &__header {
        padding-bottom: 10px;

        &-title {
            width: 100%;
            color: var(--vscode-editor-foreground);
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            margin: 0 20px 0 0;
            margin-bottom: 5px;
            padding: 0;
        }
    }

    &__search {
        box-sizing: border-box;
        display: flex;

        &__box {
            width: 100%;
        }
    }

    &__content {
        &-list {
            display: flex;
            flex-direction: column;
            max-height: calc(24px * 5.5);
            min-height: calc(24px * 5.5);
            overflow: auto;
            padding: 0;

            &-entry {
                list-style-type: none;
                padding-top: 3px;
                padding-bottom: 3px;
                padding-right: 20px;
            }
        }
    }
}
