.tutorials-filters-menu {
    flex-grow: 1;

    &__content {
        display: flex;
        flex-direction: column;
        flex: auto;

        &__entries {
            display: flex;
            flex-direction: row;
            margin: 10px 0;
            padding: 0 0 0 20px;
            margin: 20px 0 0 0;
            justify-content: space-between;
        }
    }
}
